@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter-latin-standard-normal.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter-latin-standard-italic.woff2') format('woff2');
    font-style: italic;
}

:root {
    --background: #ffffff;
    --foreground: #24292e;
}

:root[data-theme='dark'] {
    --background: #080808;
    --semi-background: #353535;
    --foreground: #cad3f5;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: Inter, Arial, sans-serif;
}

.shiki,
.shiki span {
    color: var(--shiki-dark);
    background-color: var(--shiki-light-bg);
}

[data-theme='dark'] .shiki,
[data-theme='dark'] .shiki span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
}

.shiki {
    position: relative;

    border-radius: 8px;
    padding: 12px;
    outline: 1px solid var(--semi-background);
}

a {
    color: #eed49f;
    text-decoration: none;
}

pre,
code {
    font-family: 'JetBrains Mono', Consolas, monospace;
    font-size: 14px;
    font-variant-ligatures: none;
}
